*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pexels-ahmetyuksek-35121849.jpg );
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background: transparent;
    color: white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border-color: 2px solid gray;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width:100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline:none;
    border:2px solid gray;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;

}
.input-box i  {
    position: absolute;
    right: 20px;
    top: 50px;
    font-size: 20px;
    transform: translateY(-50%);
}
.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px
}
 .remember label input{
    accent-color:white;
    margin-right: 3px;
}
.remember a{
    color: white;
    text-decoration: none ;
}
.remember a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border:none;
    outline: none;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0,0,0,1) ;
    cursor:pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
} 
.register p a:hover{
    text-decoration: underline;
}
